<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Noto+Serif&display=swap');
.creators{
    width:100%;
    height:80%
}
.main-coder{
    position: absolute;
    left:8%;
    width:25%;
    height:80%;
    background-color: rgb(172, 185, 199);
    border-radius: 20px;
}
.art-consultant{
    position: absolute;
    left: 37%;
    width:25%;
    height:80%;
    background-color: rgb(172, 125, 54);
    border-radius: 20px;
}
.bookstore-connoiseur{
    position: absolute;
    left:65%;
    width:25%;
    height:80%;
    background-color: rgb(12, 14, 117);
    border-radius: 20px;
}
.human-ava-pos{
    position:absolute;
    left:10%;
    top:3%;
    width: 80%;
}
.human-ava{
    border-radius: 20px;
    width:100%;
    height:100%;
}
.info{
    position:absolute;
    top: 45%;
    left: 10%;
    width: 80%;
}
.reverse-color{
    color:rgb(236, 214, 236);
}
.name{
    font-size: 20px;
    font-family: Montserrat;
}
.role{
    font-size: 15px;
    font-family: Noto Serif;
}
.metier{
    font-size: 15px;
    font-family: Noto Serif;
}
.link{
    position: absolute;
    bottom:1%;
    left: 3%;
    width: 94%;
    border-radius: 15px;
    height: 7%;
    background-color: rgb(109, 100, 100);
    border-color: transparent;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
</style>
<div class="creators">
    <div class="main-coder">
        <div class="human-ava-pos">
            <img src="img/creator/main-coder.png" class="human-ava">
        </div>
        <div class="info">
            <p class="name">Асадуллаев Дониёр</p>
            <p class="role">Разработчик проекта, создатель изначальной концепции и владелец идеи</p>
            <p class="metier">Студент, backend-разработчик, верстальщик</p>
        </div>
        <button class="link" >Пожертвованные книги</button>
    </div>
    <div class="art-consultant">
        <div class="human-ava-pos">
            <img src="img/creator/art-consultant.png" class="human-ava">
        </div>
        <div class="info">
            <p class="name">Кобилов Мирсаид</p>
            <p class="role">Помощник по дизайну</p>
            <p class="metier">Студент, backend-разработчик</p>
        </div>
        <button class="link">Пожертвованные книги</button>
    </div>
    <div class="bookstore-connoiseur">
        <div class="human-ava-pos">
            <img src="img/creator/bookstore-connoiseur.png" class="human-ava">
        </div>
        <div class="info">
            <div class="reverse-color">
            <p class="name">Мохинур</p>
            <p class="role">Главный критик стилей и консультант по цветам</p>
            <p class="metier">Вольный зритель и энтузиаст, читатель</p>
            </div>
        </div>
        <button class="link">Пожертвованные книги</button>
    </div>
</div>