<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@300&display=swap');
.tuit-div{
    position: absolute;
    width: 98%;
    height: 70%;
    left: 1%;
    top:1%;
    background-color: rgb(83, 158, 224);
    border-radius: 10px;
    border-width: 10px;
    border-color: rgb(74, 147, 211);
}
.div-logo{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 20%;
    height:50%;
}
.tuit-logo{
    position: absolute;
    height: 100%;
    width: auto;
    border-radius: 10px;
}
.Name{
    position:absolute;
    top: 5%;
    left: 30%;
    font-family: Open Sans;
    font-size: 30px;
}
.Abbreviature{
    position:absolute;
    top: 15%;
    left: 30%;
    font-family: Open Sans;
    font-size: 25px;
}
.adress{
    position:absolute;
    top: 25%;
    left: 30%;
    font-family: 'Open Sans';
    font-size: 20px;
}
.work-schedule{
    position:absolute;
    top: 33%;
    left: 30%;
    font-family: 'Open Sans';
    font-size: 20px;
}
.tuit-about{
    position:absolute;
    top: 55%;
    left: 2%;
    padding:10px;
    font-family: 'Source Sans Pro';
    font-size: 23px;
}
.tuit-link{
    position: absolute;
    top: 45%;
    left: 30%;
    height: 5%;
    width: 20%;
    background-color: rgb(129, 123, 123);
    border-color: transparent;
    border-radius: 5px;
}
</style>
<div class="tuit-div">
    <div class="div-logo">
        <img src="img/template-photos/TUIT-logo.png" class="tuit-logo">
    </div>
    <div>
        <p class="Name">Ташкентский Университет Информационных Технологий</p>
        <p class="Abbreviature">ТУИТ</p>
        <p class="adress">Адрес: Ташкент 100084, улица Шох Амира Темура дом 108</p>
        <p class="work-schedule">Рабочий график: Понедельник - Суббота 8:30 - 18:00</p>
        <button class="tuit-link" onclick="window.location.href = 'https://tuit.uz/';">Перейти на сайт ТУИТа</button>
        <p class="tuit-about">Ташкентский университет информационных технологий имени Мухаммада ал-Хоразмий (ТУИТ) является ведущим техническим университетом Республики Узбекистан по подготовке кадров в области информационных и телекоммуникационных технологий. 
        Под названием «Ташкентский электротехнический институт связи» считался отраслевым институтом Министерства связи и в основном готовил инженеров электросвязи и радиосвязи для республик Средней Азии и Казахстана.</p>
    </div>
</div>