<style>
     @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
.retell-area{
    position: absolute;
    width: 96%;
    height: 75%;
    top: 2%;
    left: 2%;
    background-color: rgb(79, 159, 224);
    border-radius: 10px;
}
.image-area{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 20%;
    height:70%;
}
img{
    position: absolute;
    height: 100%;
    width: auto;
    border-radius: 10px;
}
.name-pos{
    position: absolute;
    top: 1%;
    left: 50%;
    width: auto;
    height: 50px;
}
.book-name{
    font-family: Montserrat;
    font-size: 40px;
    text-align: bottom;
}
.property{
    position: absolute;
    top: 73%;
    left: 2%;
}
.property-text{
    position: relative;
    font-family: Noto Sans;
    font-size: 20px;
}
.retelling-pos{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 60%;
    height: auto;
    background-color: rgb(90, 171, 236);
    border-radius: 10px;
}
.retelling-text{
    font-family: Noto Sans;
    font-size: 18px;
}
.return-button{
    position: absolute;
    bottom: 2%;
    left: 2%;
    height: 5%;
    width: 20%;
    background-color: rgb(129, 123, 123);
    border-color: transparent;
    border-radius: 5px;
}
</style>
<div class="retell-area">
    <div class="image-area">
        <img src="img/books/Karmilla.png">
    </div>
    <div class="name-pos">
        <p class="book-name">Кармилла</p>
    </div>
    <div class="property">
        <p class="property-text">Джозеф Шеридан Ле Фаню</p>
        <p class="property-text">Детектив, проза</p>
    </div>
    <div class="retelling-pos">
        <p class="retelling-text">Юная Лора вместе с отцом, отставным военным, живет в уединенном замке среди живописных лесов Австрийской империи. Она чувствует себя одинокой после известия о внезапной гибели Берты, которая могла стать единственной подругой.
            Но однажды в замке появляется незнакомка по имени Кармилла. Ее карета разбилась по пути, и мать девушки просит приютить на время раненую дочь.
            Лора и Кармилла проводят много времени вместе, но таинственная гостья ничего не рассказывает о себе. Вскоре начинают происходить странные события: Лора заболевает, ее состояние ухудшается с каждым днем, а по ночам мучают кошмары.
            Долгожданное переиздание классической вампирской истории Джозефа Шеридана Ле Фаню. «Кармилла» – первый вампирский триллер в истории литературы, написанный за 25 лет до известного «Дракулы» Брэма Стокера. Роман был множество раз экранизирован. Существует более 3000 изданий и переизданий «Кармиллы» практически на всех языках мира.
            Джозефа Шеридана Ле Фаню часто сравнивают с Эдгаром По, его готические романы и повести вдохновляли писателей ужасов более века.</p>
    </div>
    <button class="return-button" onclick="window.location.href='books';">Вернуться к списку книг</button>
</div>