<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="private">
    <title></title>
    <link type = "text/css" rel = "stylesheet" href = "styles/auth_form_style.css">
</head>
<body>
    <div>
        <div class="nav-bar">
            <img src="logos/F-logo.png" class="logo">
            <div class="nav-form">
                <form class="search-form">
                    <input type="text" name="search_object" class="search_bar" placeholder="Search...">
                    <input type="submit" value="Search" class="search-button">
                    <div class="reg_log-buttons">
                        <button class="reg_log-button">Registration</button>
                        <button class="reg_log-button">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <header>
            <button class="header-button">HOME</button>
            <button class="header-button">PRODUCTS</button>
            <button class="header-button">ADRESS</button>
            <button class="header-button">CONTACTS</button>
        </header>
    </div>
    <article>
        <form class="authorization">

        </form>
        <footer>
            <img src="logos/footer-logo.png" class="footer-logo">
        </footer>
    </article>
</body>
</html>