<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Noto+Serif&display=swap');
.text{
    position: absolute;
    top: 0;
    left: 20px;
    width: 65%;
    height: 100%;
}
.footer-text{
    position: absolute;
    font-size: 15px;
    font-family: Montserrat;
}
.git-page{
    position: absolute;
    top: 25%;
    right: 2%;
    width: 15%;
    height: 50%;
    background-color: #cfd8dc;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Noto Serif';
    font-size: 20px;
 }
.dev-page{
    position: absolute;
    top: 25%;

    width: 15%;
    height: 50%;
    background-color: #cfd8dc;
    font-family: 'Noto Serif';
    font-size: 20px;
}
.adress-page{
    position: absolute;
    top: 25%;
    right: 17%;
    width: 15%;
    height: 50%;
    background-color: #cfd8dc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Noto Serif';
    font-size: 20px;
 }

</style>
<div class="text">
    <p class="footer-text">Данный сайт написан одним студентом, при консультации с двумя любителями. 
    На момент релиза он может быть недоработан, но, благодаря этому, открыт для общего использования. 
    Впоследствии он будет загружен на гитхаб.</p>
</div>
<button class="adress-page" onclick="window.location.href = 'adress';">Адресс</button>
<button class="git-page" onclick="window.location.href = 'https://github.com/explorer16/F-store';">Скачать</button>