body{
    background-color: #070008;
    width:1000px;
    height: 700px;
    overflow: auto;
}
.nav-bar{
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: #0052CC;
}
.logo{
    position: absolute;
    top:20px;
    left:20px;
    width:120px;
    height: 120px;
    border-radius: 50%;
}
.nav-form{
    position:absolute;
    top: 30px;
    right: 0;
    width:85%;
    height:60px;
}
.search-form{
    position:relative;
    top: 0;
    left: 0;
    width:50%;
    height:60px;
}
.search_bar{
    position:relative;
    display:inline;
    top:0;
    left:0;
    width:69%;
    height:100%;
    border:2px;
}
.search-button{
    display: absolute;
    height:100%;
    width:30%;
    background-color: #101D2D;
    color: white;
    font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', serif;
}
.reg_log-buttons{
    position: absolute;
    top:0;
    left:700px;
    width:400px;
    height:60px;
}
.reg_log-button{
    display: inline;
    position: relative;
    margin-left: 10%;
    height: 100%;
    width: 100px;
    background-color: #101D2D;
    color: white;
    font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', serif;
}
header{
    position: absolute;
    top: 190px;
    width: 100%;
    height: 50px;
    background-color: #006992;
}
.header-button{
    display: inline;
    margin-left: -5;
    height: 100%;
    width: 25%;
    background-color: transparent;
    color: white;
    font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', serif;
}
article{
    position:absolute;
    top:270px;
    width:100%;
    height:800px;
}
footer{
    position: absolute;
    bottom: 0;
    height: 100px;
    width:100%;
    background-color: #006992;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.footer-logo{
    position: relative;
    top:20px;
    left:20px;
    width:80px;
    height: 80px;
}